html {
  position: relative;
  min-height: 100%;
}

body {
	background-color: #333;
	margin-top: 20px;
}

video {
	width: 100%;
    height: auto;
}

#canvas {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -360px;
}

#id-faces {
	position: relative;
	bottom: 0;
}

#actorslist {
	width: 100%;
	height: 402px;
	margin-bottom: 10px;
	background-color: rgba(0,0,0,0);
}

#actorslist .panel-body {
	color: white;
}

.main {
	display: block;
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}

.video-player {
	position: relative;
	margin-bottom: 50px; /* Account for video controls space */
}

.slider {
	margin-bottom: 50px;
}

.footer {
	width: 100%;
	color: rgba(255,255,255,.5);
	font-size: .8em;
	text-align: center;
}

.center {
	margin: 0 auto;
}

.sidepanel {
	left: -30px;
}

.btn-actor {
    font-size: 100%;
    font-weight: 400;
    color: white;
}

